import { Message, EmbedBuilder } from "discord.js";
import { Manager } from "../../../manager.js";
import { Accessableby, PrefixCommand } from "../../../@types/Command.js";

export default class implements PrefixCommand {
  name = "example";
  description = "Example prefix command";
  category = "Example";
  accessableby = Accessableby.Member;
  usage = "";
  aliases = [];

  async run(
    client: Manager,
    message: Message,
    args: string[],
    prefix: string
  ) {
    //your command code here
    // Examples:
    /*
    const embed = new EmbedBuilder()
      .setAuthor({
        name: client.user!.tag + " Status",
        iconURL: String(client.user!.displayAvatarURL({ size: 2048 })),
      })
      .setColor(client.color)
      .setDescription(`Ping: ${client.ws.ping}`)
      .setTimestamp();
    await message.reply({ embeds: [embed] });
    */
  }
}
